{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}

<article class="noticia {{ fields.field_destacado.content|render|striptags|trim }}">
	{% if fields.field_media.content %}
        <figure class="noticia-img mb-3 mb-md-0">
            {{fields.field_media.content}}
        </figure>
	{% endif %}
    <div class="noticia-container">
        {% set field_title = fields.title.content|render|striptags|trim %}
        <h3 class="noticia-title text-uppercase color-white-primary">{{ field_title }}</h3>
        {% if fields.body.content|render|striptags|trim %}
            <p>{{ fields.body.content|render|striptags|trim }}</p>
        {% endif %}
        {% if fields.field_texto_btn.content %}
            <a href="{{ fields.field_link_btn.content|render|striptags|trim }}" target="_blank" class="btn btn-third text-uppercase noticia-btn">{{ fields.field_texto_btn.content|render|striptags|trim }}</a>
        {% endif %}
        {% if fields.field_texto_rubro.content %}
            <a href="{{ fields.field_link_rubro.content|render|striptags|trim }}" target="_blank" class="btn btn-third btn-third--square">{{ fields.field_texto_rubro.content|render|striptags|trim }}</a>
        {% endif %}
    </div>
</article>


